@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
  --text-logotipo: #3A404E;
  --link-color: #667085;
  --btn-color-cadastrar:#fff;
  --background-cadastrar:#8E2424;
  --shadow-cadastrar: #1018280d;
  --h1-color:#101828;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container-nav{
  display: flex;
  width: 1280px;
  margin: 18px auto;
  justify-content: space-between;
  padding: 0 32px;
  align-items: center;
}

li{
  display: inline-flex;
}

li > a{
  text-decoration: none;
  color: var(--link-color);
  font-size: 16px;
  font-weight: 500;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
}

#logo{
  color: var(--text-logotipo);
  text-decoration: none;
  margin-left: 8px;
}

#logotipo{
  display: flex;
  font-size: 18px;
  align-items: center;
}

#Cadastrar{
  border-radius: 8px;
  border: 1px solid var(--background-cadastrar);
  background: var(--background-cadastrar);
  box-shadow: 0px 1px 2px 0px var(--shadow-cadastrar);
  color: var(--btn-color-cadastrar);
  padding: 10px 18px;
  margin-left: 12px;
}

.menu-space{
  width: 142px;
  height: 32px;
  flex-shrink: 0;
}

h3{
  color:var(--background-cadastrar);
  font-size: 16px;
  font-weight: 600;
}

.container-aboutUs{
  width: 792px;
  margin: 96px auto 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1{
  color: var(--h1-color);
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.96px;
  margin: 24px 0;
}

.apresentar{
  color: var(--link-color);
  font-size: 20px;
  font-weight: 400;
}